.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pokedex {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  max-width: 30vw;
}

.pokemon {
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 200px;
  margin: 8px;
}

