body {
  font-size: 2em;
  margin: 10px;
}
h1 {
  font-size: 1.5em;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin: 35px 0;
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
    body {
      background-color: blue;
      font-size: 2.5em;
      margin: 50px;
    }

    h1 {
        font-size: 2em;
      }

    figure {
      margin: 0;
      margin: 35px 0;
      width: 330px;
      margin-right: 20px;
    }

    .cats-images {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.6em;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-color: red;
        font-size: 2em
    }
}